*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #c6f6f3aa;
}
/* .item{
    width: 100vw;
    height: 500px;
    border: 2px solid;
} */
.headContainer{
    width: 100vw;
    height: 15vh;
    display: inherit;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid; */

    background-color: rgba(187, 144, 244, 0.379);

}
.headHiper ul li{
    display: inline;
    margin-right: 20px ;
    margin-left: 20px;
}
.headHiper ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.log h1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.headHiper,.log {
    flex-wrap: wrap;
    display: inherit;
    align-items: center;
    text-align: center;
    /* border: 2px solid; */
}



.mainContainer{
    height: 1000px;
    width: 100vw;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contant{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-content: start; */
    /* margin: 0px 59px 0px 59px; */
    border: 2px solid;
    border-radius: 20px;
    height: 250px;
    width: 80vw;
    background-color: rgba(249, 213, 213, 0.553);
}
.recipi{
    height: 210px;
    width: 350px;
    /* color: white; */
    /* border: 2px solid; */
    /* text-align: center; */
}
.recipi img{
    width: 300px;
    height: 200px;
    border: 2px solid;
    border-radius: 10px ;
}

.recipi h1 a{
    text-decoration: none;
    color: black;
}

.checked {
    color: orange;
  }



  /* footer css */
  .footerContainer{
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerContainer ul li{
    display: inline;
    font-size: 20px;
  }



  /* media quary */
  @media screen and (max-width:500px){
    .headContainer{
        height: 15vh;
    }    
    
}
@media screen and (max-width:470px) {
    .recipi img{
        width: 150px;
        height: 100px;
    }
    .recipi{
        height: 150px;
        text-align: center;
    }
    .contant{
        align-content: start;
    }
    .headContainer{
        height: 120px;
    }
}
@media screen and ( max-width:878px){
    .mainContainer{
        height: 1800px;
    }
    .contant{
        height: 450px;
    }
}